* {
    padding: 0;
    margin: 0;
}
body{
    background-color: grey;
    color: white;
}
#login-form {
    width: 300px;
    margin: 0 auto;
}
#login-form input[type="text"],
#login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}